build/
devel/
logs/
install/
build*/

# SP4Objekterkenner specific
SP4Objekterkenner/venv_SP4Objekterkenner/
SP4Objekterkenner/trained-inference-graphs/
SP4Objekterkenner/sweet_detector.pt
SP4Objekterkenner/best_yolo11s.pt


Trainingsdaten-bunt/
Trainingsdaten-grau/

# QtCreator stuff
*.pro.user.*
*.pro.user
